[Desktop Entry]
Name=Picmi
Name[ar]=بيكمي
Name[ast]=Picmi
Name[bs]=Picmi
Name[ca]=Picmi
Name[ca@valencia]=Picmi
Name[cs]=Picmi
Name[da]=Picmi
Name[de]=Picmi
Name[el]=Picmi
Name[en_GB]=Picmi
Name[eo]=Picmi
Name[es]=Picmi
Name[et]=Picmi
Name[eu]=Picmi
Name[fi]=Picmi
Name[fr]=Picmi
Name[ga]=Picmi
Name[gl]=Picmi
Name[he]=פיקמי
Name[hi]=Picmi
Name[hu]=Picmi
Name[ia]=Picmi
Name[it]=Picmi
Name[ka]=Picmi
Name[kk]=Picmi
Name[ko]=Picmi
Name[lv]=Picmi
Name[mr]=पिक्मि
Name[nb]=Picmi
Name[nds]=Picmi
Name[nl]=Picmi
Name[nn]=Picmi
Name[pl]=Picmi
Name[pt]=Picmi
Name[pt_BR]=Picmi
Name[ro]=Picmi
Name[ru]=Picmi
Name[sa]=पिचमि
Name[sk]=Picmi
Name[sl]=Picmi
Name[sr]=Пикми
Name[sr@ijekavian]=Пикми
Name[sr@ijekavianlatin]=Picmi
Name[sr@latin]=Picmi
Name[sv]=Picmi
Name[tr]=Picmi
Name[uk]=Picmi
Name[x-test]=xxPicmixx
Name[zh_CN]=Picmi
Name[zh_TW]=Picmi
GenericName=Logic Game
GenericName[ar]=لعبة منطقية
GenericName[ast]=Xuegu de lóxica
GenericName[bs]=Logička igra
GenericName[ca]=Joc de lògica
GenericName[ca@valencia]=Joc de lògica
GenericName[cs]=Logická hra
GenericName[da]=Logikspil
GenericName[de]=Logikspiel
GenericName[el]=Παιχνίδι λογικής
GenericName[en_GB]=Logic Game
GenericName[eo]=Logikludo
GenericName[es]=Un juego de lógica
GenericName[et]=Loogikamäng
GenericName[eu]=Logika jokoa
GenericName[fi]=Logiikkapeli
GenericName[fr]=Jeu de logique
GenericName[ga]=Cluiche Loighce
GenericName[gl]=Xogo de lóxica
GenericName[he]=משחק חשיבה
GenericName[hi]=तर्क खेल
GenericName[hu]=Logikai játék
GenericName[ia]=Joco Logic
GenericName[it]=Gioco di logica
GenericName[ka]=ლოგიკური თამაში
GenericName[kk]=Логикалық ойын
GenericName[ko]=논리 게임
GenericName[lv]=Loģikas spēle
GenericName[mr]=तर्क खेळ
GenericName[nb]=Logikkspill
GenericName[nds]=Logikspeel
GenericName[nl]=Logisch spel
GenericName[nn]=Hjernetrim
GenericName[pl]=Gra logiczna
GenericName[pt]=Jogo de Lógica
GenericName[pt_BR]=Jogo de lógica
GenericName[ro]=Joc de logică
GenericName[ru]=Логическая игра
GenericName[sa]=तर्क खेल
GenericName[sk]=Logická hra
GenericName[sl]=Logična igra
GenericName[sr]=Логичка игра
GenericName[sr@ijekavian]=Логичка игра
GenericName[sr@ijekavianlatin]=Logička igra
GenericName[sr@latin]=Logička igra
GenericName[sv]=Logikspel
GenericName[tr]=Mantık Oyunu
GenericName[ug]=لوگىكىلىق ئويۇن
GenericName[uk]=Гра на логіку
GenericName[x-test]=xxLogic Gamexx
GenericName[zh_CN]=逻辑游戏
GenericName[zh_TW]=智力遊戲
Comment=A number logic game
Comment[ar]=لعبة منطق الأرقام
Comment[bs]=Logička igra s brojevima
Comment[ca]=Un joc de lògica de nombres
Comment[ca@valencia]=Un joc de lògica de nombres
Comment[cs]=Logická hra s čísly
Comment[da]=Et spil med tallogik
Comment[de]=Ein Logikspiel mit Zahlen
Comment[el]=Παιχνίδι λογικής με αριθμούς
Comment[en_GB]=A number logic game
Comment[eo]=Numera logikludo
Comment[es]=Un juego de lógica con números
Comment[et]=Arvuloogikamäng
Comment[eu]=Zenbakizko logika joka
Comment[fi]=Lukulogiikkapeli
Comment[fr]=Un jeu de logique avec des chiffres
Comment[gl]=Un xogo de lóxica numérica.
Comment[he]=משחק חשיבה מספרית
Comment[hi]=अंको का तर्क खेल
Comment[hu]=Egy számos logikai játék
Comment[ia]=Un jocologic de numero
Comment[it]=Un gioco di logica con i numeri
Comment[ka]=რიცხვით ლოგიკაზე დამყარებული თამაში
Comment[kk]=Сандық логика ойны
Comment[ko]=숫자 논리 게임
Comment[lv]=Skaitļu loģikas spēle
Comment[mr]=संख्या तर्क खेळ
Comment[nb]=Et spill med tall-logikk
Comment[nds]=En Tallen-Logikspeel
Comment[nl]=Een logisch spel met nummers
Comment[nn]=Talbasert hjernetrim
Comment[pl]=Liczbowa gra logiczna
Comment[pt]=Um jogo lógico com números
Comment[pt_BR]=Jogo de lógica com números
Comment[ro]=Joc de logică cu numere
Comment[ru]=Логическая игра с числами
Comment[sa]=एकः संख्यातर्कक्रीडा
Comment[sk]=Číselná logická hra
Comment[sl]=Logična igra s številkami
Comment[sr]=Логичка игра с бројевима
Comment[sr@ijekavian]=Логичка игра с бројевима
Comment[sr@ijekavianlatin]=Logička igra s brojevima
Comment[sr@latin]=Logička igra s brojevima
Comment[sv]=Ett logikspel med siffror
Comment[tr]=Bir sayı mantığı oyunu
Comment[uk]=Гра з числами на логіку
Comment[x-test]=xxA number logic gamexx
Comment[zh_CN]=数字逻辑游戏
Comment[zh_TW]=數字邏輯遊戲
Exec=picmi
Icon=picmi
Type=Application
StartupNotify=true
Categories=Qt;KDE;Game;LogicGame;
X-DocPath=picmi/index.html
